.main.announce.all {
  margin-top: 46px;
}

.main.announce.tabTop {
  /* position: relative; */
  height: 73px;

  background: #ff7637;
}

.main.announce.tabBottom {
  /* position: relative; */
  height: 13px;

  background: #ff7637;
}

.main.announce.body {
  position: relative;
}

.main.announce.topic {
  margin-top: -65px;
  line-height: 54px;

  color: #ffffff;
}

.main.announce.button {
  position: absolute;
  right: 0;
  bottom: 16px;

  padding: 8px 23px;
  background: #5e5f64;
  border-radius: 4px;

  line-height: 24px;

  align-items: center;
  text-align: center;

  color: #ffffff;
}
